<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="ui segment">
        <label>Semantic UI Components</label>
        <div class="ui stackable secondary menu">
            <a class="item active">Home</a>
            <a class="item">About</a>
            <a class="item">Contact</a>
            <div class="item">
                <form class="ui form" action="" method="get">
                    {% csrf_token %}
                    <div class="ui input">
                        <input type="text" name="q" placeholder="Search Blog">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                    <button type="submit">Search</button>
                </form>
            </div>
            <a class="ui right item">LogOut</a>
        </div>
    </div>
</body>

</html>